<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>
    <div class="header">
        <% include partials/header %>
    </div>

    <div class="container">
      <div id="body-section">
        <div id="install" class="content">
          <div class="col-xs-12">
            <h3>Install now for:</h3>
          </div>
          <div class="col-xs-4 text-center browser">
            <a href="https://chrome.google.com/webstore/detail/smile-more-donate-more/lbicnnogjkpfkhokabdopjibhlcejhop">
              <img class="img-responsive center-block" src="images/chrome.png" alt="chrome download">
              Chrome
            </a>
          </div>
          <div class="col-xs-4 text-center browser">
            <a href="https://addons.mozilla.org/en-US/firefox/addon/smile-more-donate-more/">
              <img class="img-responsive center-block" src="images/firefox.png" alt="firefox download">
              Firefox
            </a>
          </div>
          <div class="col-xs-4 text-center browser">
            <a href="#">
            <img class="img-responsive center-block" src="images/opera.png" alt="opera download">
            Opera - Coming Soon!
            </a>
          </div>
        </div>
        <div id="usage" class="content" hidden>
          <% include partials/usage %>
        </div>
        <div id="about" class="content" hidden>
          <% include partials/about %>
        </div>
        <div id="support" class="content" hidden>
          <% include partials/support %>
        </div>
      </div>
    </div>
    <div class="footer">
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
