<!DOCTYPE html>
<html>

  <head>
    <% include partials/head %>
  </head>

  <body>
    <div class="container">
      <% include partials/header %>

      <div class="col-xs-12">
        Download now for:
      </div>
      <div class="col-xs-4 text-center">
        Chrome
      </div>
      <div class="col-xs-4 text-center">
        Firefox
      </div>
      <div class="col-xs-4 text-center">
        Opera
      </div>

      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
