<p>
  <b>What is it?</b><br>
  <b>Smile More, Donate More :)</b> is a browser extension that redirects you to AmazonSmile's (<a href="https://smile.amazon.com" target="_blank">smile.amazon.com</a>) mirror page every time you visit a page on Amazon. AmazonSmile is Amazon's charity program for non-profit organizations. For every purchase through AmazonSmile, Amazon donates 0.5% of the price of eligible items to the charity organization of your choice. <a href="https://smile.amazon.com/gp/chpf/about/ref=smi_se_rspo_laas_aas" target="_blank">Read more about the AmazonSmile program here.</a>
</p>
<br>
<p>
  <b>Why it was built:</b><br>
  As a frequent Amazon user myself, I kept forgetting to visit AmazonSmile for my purchases, and that meant there were donations that wasn't going to my favorite charity. After kicking myself several times for forgetting I decided, why not just build an app for that? And thus was born <b> Smile More, Donate More :)</b>. <a href="https://jttyeung.github.io/2017/07/02/smile-more-donate-more.html" target="_blank">Read more about the origins of this app and what it means to me in my blog post here.</a>
</p>
<br>
<p>
  <b>Open Source and Private.</b><br>
  This project is <a href="https://github.com/jttyeung/smile-more-donate-more/blob/master/LICENSE" target="_blank">licensed under MIT</a> and is available open source on GitHub. <a href="https://github.com/jttyeung/smile-more-donate-more" target="_blank">Check out the code for yourself.</a> This extension does not and will not ever track, store, or send any of your activity or personal information.
</p>
