<p class="text-center text-muted">Developed by Joanne Yeung</p>
<div class="col-xs-12 text-center">
  <a href="https://www.linkedin.com/in/jttyeung/">
    <img class="img-responsive inline" src="images/linkedin.png" alt="LinkedIn">
  </a>
  <a href="https://github.com/jttyeung">
    <img class="img-responsive inline" src="images/github.png" alt="GitHub">
  </a>
  <a href="https://jttyeung.github.io">
    <img class="img-responsive inline" src="images/blog.png" alt="Blog RSS">
  </a>
</div>
