<h1>Smile More, Donate More :)</h1>
<div id="navbar">
  <h2>
    <a href="#" onclick="contentSwitcher('install')">Download</a> |
    <a href="#" onclick="contentSwitcher('usage')"">How to Use</a> |
    <a href="#" onclick="contentSwitcher('about')">About</a> |
    <a href="#" onclick="contentSwitcher('support')">Support</a>
  </h2>
</div>
