<p>
  <b class="title">How to Use The Extension</b><br>
  Step 1: Visit the download link above and install the extension on the browser of your choice.<br>
  <br>
  You're done! Nothing more to do here. :)<br>
  <br>
  Every time you visit an Amazon page, the extension will automatically send you to the mirror AmazonSmile page and Amazon will donate proceeds of all your future eligible purchases to the charity of your choice. The tough part is figuring out which charity you want to donate to (if you haven't already selected one)!
</p>
